<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>802797745712-she12uppmf5ee81eosop8q7o9upv2jq7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.802797745712-she12uppmf5ee81eosop8q7o9upv2jq7</string>
	<key>API_KEY</key>
	<string>AIzaSyDfzAKzqKPsCaQu7FtPHVwr1tHnZBgoADM</string>
	<key>GCM_SENDER_ID</key>
	<string>802797745712</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hundreds.sweetescape</string>
	<key>PROJECT_ID</key>
	<string>creepy-creams-factory</string>
	<key>STORAGE_BUCKET</key>
	<string>creepy-creams-factory.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:802797745712:ios:ad7823046339114dcc1ff5</string>
</dict>
</plist>